/vendor/
/node_modules/
/public/storage/
/public/hot/
/storage/*.key
/storage/logs/
/storage/framework/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
